include /resources/pug/mixins/form.pug
include /resources/pug/mixins/panel.pug

form(ng-submit="changePassword.submit()")
  +panel("Change Password")
    .panel-body.form-horizontal
      +field("user.account.password.password.LABEL", "password")(
        type="password"
        ng-model="changePassword.input.password"
        placeholder="{{ 'user.account.password.password.PLACEHOLDER' | translate }}"
      )
      +field("user.account.password.confirm.LABEL", "confirm")(
        type="password"
        ng-model="changePassword.input.confirm"
        placeholder="{{ 'user.account.password.confirm.PLACEHOLDER' | translate }}"
      )
    .panel-footer.clearfix
      .pull-right
        button.btn.btn-primary(
          type="submit"
          translate="user.account.password.SUBMIT"
        )
