doctype html
.block-center.mt-xl.wd-xl(ng-controller="AuthLoginController as login")
  .auth-alerts(ng-controller="AlertController as alert")
    .alert(ng-repeat="message in alert.items", ng-class="'alert-'+message.type")
      | {{message.text}}

  // START panel
  .panel.panel-inverse.panel-flat
    .panel-heading.text-center
      .logo(data-translate="auth.login.TITLE")
    .panel-body
      p.text-center.pv(data-translate="auth.login.SIGNIN")
      form.form-validate.mb-lg(
        role="form"
        ng-submit="login.submit()"
        name="login.form"
        novalidate=""
      )
        .form-group.has-feedback
          input.form-control(
            type="text"
            name="email"
            placeholder="{{ 'auth.login.input.email.PLACEHOLDER' | translate }}"
            autocomplete="off"
            ng-model="login.account.email"
            required
          )
          span.fa.fa-envelope.form-control-feedback.text-muted
          span.text-danger(
            ng-show="login.form.email.$dirty && login.form.email.$error.required"
          ) This field is required
          span.text-danger(
            ng-show="login.form.email.$dirty && login.form.email.$error.email"
          ) This field must be a valid email address
        .form-group.has-feedback
          input.form-control(
            type="password"
            name="password"
            placeholder="{{ 'auth.login.input.password.PLACEHOLDER' | translate }}"
            ng-model="login.account.password"
            required=""
          )
          span.fa.fa-lock.form-control-feedback.text-muted
          span.text-danger(
            ng-show="login.form.password.$dirty && login.form.password.$error.required"
          ) This field is required
        .clearfix
          .checkbox.c-checkbox.pull-left.mt0
            label
              input(
                type="checkbox"
                value=""
                name="account_remember"
                ng-model="login.account.remember"
              )
              span(translate="auth.login.REMEMBER")
          .pull-right
            a.text-muted(
              ui-sref="auth.recover"
              translate="auth.login.FORGOT"
            )

        button.btn.btn-block.btn-primary.mt-lg(
          type="submit"
          translate="auth.login.LOGIN"
        )

      .alert.alert-danger.text-center(ng-show="login.authMsg") {{login.authMsg}}
  // END panel
  .p-lg.text-center
    span &copy;
    span(ng-bind="app.year")
    span  -
    span(ng-bind="app.name")
    br
    span(ng-bind="app.description")
