include /resources/angle/pug/mixins/panel

+panel("{{ 'server.assign.TITLE' | translate }}")
  table.table
    thead
      tr
        th(translate="server.assign.ITEM")
        th(translate="server.assign.ASSIGNED")

    tbody
      tr
        th.shrink.v-mid(translate="server.assign.NICKNAME")
        td
          editable(
            value="assign.server.nickname",
            on-save="assign.saveNickname()"
          )
      tr
        th.shrink.v-mid(translate="server.assign.SRV_ID")
        td(ng-bind="assign.server.srv_id")

      tr(ng-if="assign.client.subSuperAccess") 
        th.shrink.v-mid(translate="server.assign.client.TITLE")
        td(ng-init="access = assign.server.access")
          a(
            ng-if="access.sub",
            ui-sref="app.hardware.server.list({ client: access.sub.client.id })",
            ng-bind="access.sub.client.name"
          )
          span(ng-if="!access.sub", translate="server.assign.client.NONE")
          span &nbsp;(
          a(
            ng-click="assign.client.modal()",
            translate="server.assign.client.{{ access.sub ? 'REASSIGN' : 'ASSIGN' }}"
          )
          span )
      tr(ng-if="assign.entities.items.length")
        td(colspan="2")

      //- Start Entities
      tr(ng-repeat-start="entity in assign.entities.items")
        th.shrink.v-mid(translate="server.assign.entity.TITLE")
        td(
          ng-bind="entity.name || (entity.v4 && entity.v4.full) || (entity.v6 && entity.v6).address"
        )

      //- Start IPv4
      tr(ng-if-start="entity.v4")
        td.shrink
          span(translate="server.assign.entity.v4.USABLE")
        td(ng-bind="entity.v4.full")
      tr
        td.shrink
          span(translate="server.assign.entity.v4.GATEWAY")
        td(ng-bind="entity.v4.gateway")
      tr(ng-if-end)
        td.shrink
          span(translate="server.assign.entity.v4.SUBNET")
        td(ng-bind="entity.v4.subnet_mask")
      //- End IPv4

      //- Start IPv6
      tr(ng-if-start="entity.v6")
        td.shrink
          span(translate="server.assign.entity.v6.ADDRESS")
        td(ng-bind="entity.v6.address")
      tr(ng-if-end, ng-repeat-end)
        td.shrink
          span(translate="server.assign.entity.v6.GATEWAY")
        td(ng-bind="entity.v6.gateway")
      //- End IPv6
      //- End Entities
